<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question System - Welcome to Knowledge Question System</title>
    <link rel="stylesheet" type="text/css" href="/static/css/askstyle.css">
</head>

<body>
    <header>Question System</header>
    <form>
        <div><label for="question">Try to ask something:</label></div>
        <div><input type="text" id="question" name="question" placeholder="Send a message..."></div>
        <div><input type="submit" value="GO >"></div>
    </form>
    <div class="bg-container">
        <div class="bg-img" style="background-image: url('https://api-www.louvre.fr/sites/default/files/styles/w518_h648_c1/public/2021-01/elisabeth-louise-vigee-le-brun-madame-vigee-le-brun-et-sa-fille.jpg')"></div>
        <div class="bg-img" style="background-image: url('https://api-www.louvre.fr/sites/default/files/styles/w518_h648_c1/public/2021-01/leonard-de-vinci-portrait-de-monna-lisa-dite-la-joconde.jpg')"></div>
        <div class="bg-img" style="background-image: url('https://api-www.louvre.fr/sites/default/files/styles/w518_h518_c1/public/2021-01/antonio-canova-psyche-ranimee-par-le-baiser-de-l-amour.jpg')"></div>
        <div class="bg-img" style="background-image: url('https://api-www.louvre.fr/sites/default/files/styles/w382_h478_c0/public/instagram/insta-17991840649730358.jpg')"></div>
      </div>
</body>

</html>