<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Question Answering System - Welcome to Knowledge Question Answering System</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" >
</head>

<body>
    <header>Knowledge Question Answering System</header>
    <video id="bg-video" autoplay muted loop>
        <source src="/static/video.mp4" type="video/mp4">
    </video>
    <a href="http://127.0.0.1:5000" class="button" style="margin-top: 300px;">I have questions</a><br>
    <a href="answerrecord.html" class="button">Take a test</a>
    <footer></footer>
</body>

</html>